/* Write styles here */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 100vh; */
  font-family: "Inter", sans-serif;
  /* overflow-x: hidden;
  overflow-y: hidden;
  background-image: url(./landingPagePic.png); */
  /* background-repeat: no-repeat;
  background-position: top right; */
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}



.container {
  width: 100%;
  /* height: 100%; */
  /* padding: 40px;
  padding-bottom: 10px; */
  display: flex;
  flex-direction: column;

}

.container p {
  margin-top: 10px;
  font-size: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttons-container button {
  color: white;
  background-color: #526BEA;
  width: 150px;
  height: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.image img {
  height: 80%;
  width: 100%;
}


.home-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home-left{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-right{
  width: 40%;
}
.home-right img{
  height: 100%;
  width: 100%;
}

@media(max-width:768px){
  .home-container{
    display: flex;
    flex-direction: column;
  }
  .home-left{
    width: 100%;
  }
  .home-right{
    width: 100%;
  }
}